* {
   position: static;
}

/* Add styling to entire nav bar, use google font family*/
#nav {
    background-color:cornsilk;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
    margin-top: 0px;
}

/* style navbar-brand (Name) in header */
.navbar-brand {
    background-color: palevioletred;
    font-weight: bolder;
    color: darkgray;
    padding: 20px;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
} 

/* Use pixes to push link about me to the right  */
#about-me {
    /* margin-left: 550px; */
    color: darkgray
}

#portfolio {
    color: darkgray
}

#contact {
    color: darkgray
}

#about-me:hover {
    background-color: palevioletred;
    font-style: italic;
    color: whitesmoke;
    
}

#contact:hover {
    background-color: palevioletred;
    font-style: italic;
    color: whitesmoke;
}

#portfolio:hover {
    background-color: palevioletred;
    font-style: italic;
    color: whitesmoke;
}
p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
    border-bottom: solid darkgray;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-top: 0;
}
img {
    margin-top: 30px;
    margin-right: 5px;
}
/* style image caption and position over captioned image */
.caption {
    background-color: palevioletred;
    width: 88%;
    padding: 5px;
    text-align: center;
    margin-left: 1.3px;
    position: absolute;
    bottom: 8px;
}
 
.btn {
    background-color: palevioletred;
    color: black;
    border: darkgray;
}

#footer {
    background-color: tomato;
}
