/* * {
    background-color: lightgray;
} */

/* Add styling to entire nav bar, use google font family*/
#nav {
    background-color:cornsilk;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 10px;
}

/* style navbar-brand (Name) in header */
.navbar-brand {
    background-color: palevioletred;
    font-weight: bolder;
    /* color: darkgray; */
    padding: 20px;
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
} 

/* Use pixes to push link about me to the right  */
#about-me {
    margin-left: 600px;
    color: darkgray
}

#portfolio {
    color: darkgray
}

#contact {
    color: darkgray
}

#about-me:hover {
    background-color: palevioletred;
    font-style: italic;
    color: whitesmoke;
    
}

#contact:hover {
    background-color: palevioletred;
    font-style: italic;
    color: whitesmoke;
}

#portfolio:hover {
    background-color: palevioletred;
    font-style: italic;
    color: whitesmoke;
}
p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
}

/* style image names */
h4 {
    background-color: palevioletred;
    margin: 10px;
    padding: 5px;
    text-align: center;
    margin-left: 1.5px;

}
#footer {
    background-color: tomato;
}
/* Add styling to the main body of the page  */
